VITE_FIREBASE_API_KEY=AIzaSyCyfiOvSJSLshEhVFUaT5ZZcDs_-hTrK1I
VITE_FIREBASE_AUTH_DOMAIN=tiktokshop-cb657.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tiktokshop-cb657
VITE_FIREBASE_APP_ID=1:688707520264:web:890c5ceeddbb0096dc8ebd

# Email que pode logar (deve casar com Rules do Firestore)
VITE_OWNER_EMAIL=gorilaalbino1996@gmail.com
